<a href="https://colab.research.google.com/github/Koush98/Python/blob/main/bank_data_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('/content/drive/MyDrive/data_sets/bank_marketing.csv', index_col=0)
from sklearn import linear_model

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,41,services,married,unknown,no,88,yes,no,cellular,11,may,105,1,336,2,failure,no
1,56,technician,married,secondary,no,1938,no,yes,cellular,26,feb,229,1,192,4,success,yes
2,30,services,single,secondary,no,245,no,yes,cellular,8,jul,187,2,-1,0,unknown,no
3,34,management,single,tertiary,no,1396,yes,no,cellular,17,jul,630,1,-1,0,unknown,no
4,29,technician,single,secondary,no,-13,yes,no,cellular,14,may,512,3,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5576,48,admin.,married,secondary,no,2235,yes,yes,unknown,15,may,755,2,-1,0,unknown,no
5577,40,blue-collar,married,primary,no,-388,yes,no,cellular,4,may,195,3,340,1,failure,no
5578,27,student,single,secondary,no,91,no,no,telephone,4,dec,157,6,95,37,other,no
5579,46,blue-collar,married,secondary,no,1568,yes,no,cellular,2,jun,310,1,55,6,other,yes
5580,39,services,married,secondary,no,0,yes,no,cellular,8,may,503,1,-1,0,unknown,no

In [13]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [14]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [26]:
df["job"].value_counts()

job
management       1318
blue-collar       975
technician        887
admin.            661
services          452
retired           397
self-employed     206
student           182
unemployed        170
entrepreneur      160
housemaid         143
unknown            30
Name: count, dtype: int64

In [31]:
count=0
for i in df["job"]:
  if i=="services":
    count+=1
print(count)

452

In [33]:
c=0
for j in df["balance"]:
  if j<0:
    c+=1
print(c)

348

In [37]:
df["contact"].value_counts(normalize=True)*100

contact
cellular     72.460133
unknown      20.695216
telephone     6.844651
Name: proportion, dtype: float64

In [50]:
df1 = df[(df["job"] == "management") & (df["deposit"] == "yes")]
df1.shape[0]

669

In [54]:
df[(df["marital"]=="single") & (df["deposit"]=="no")].value_counts().sum()

807

In [55]:
df[(df["contact"]=="unknown") & (df["month"]=="may")].value_counts().sum()

686

In [61]:
df[(df["job"] == "unemployed") & (df["marital"] == "married") & (df["loan"]=="yes")].shape[0]

8

In [74]:
df3 = df.sort_values(by="balance", ascending=False)
df3["balance"].head(5)

3252    81204
507     81204
1115    56831
3527    51439
4357    37127
Name: balance, dtype: int64