In [ ]:
#matplotlib  to create 2d graphs and plots
#Pandas visulaization easy to use interface, built on Matplotlib
#seaborn provides a high-level interface fo9r drawing attractive and informative statistical graphics
#ggplot based on R's ggplot2, uses Grammar of graphics
#plotly can create interactive plots

# Scatter Plot


What is a scatter plot?
A scatter plotis a set of points that represents the values obvtained for two differrent variables plotted on horizontal and vertical axes.

When to use scatter plots?
Scatter plots are used to convey the relationship between two numerical variables
Scatter plots are sometimes called correlation plots because they show how two variables are correlated

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
#reading Data sets
x=pd.read_csv('C:\\Users\\Admin\\Desktop\\koushik\\data_sets\\ds_masters_usa.csv')
#Create copy of the Data_set
samp=x.copy(deep=True)

In [6]:
samp.head(2)

,Subject Name,University Name,Per Year Fees in EUR,Program Name,Unnamed: 4
0,Data Science for Business Leaders,Udacity,218,Pre-Master / Part-time / Online,NaN
1,Data Science MicroMasters Program,edX - online learning platform,"1,163",Pre-Master / Part-time / Online,NaN